@import '../assets/scss/variables.scss';
@import '../assets/scss/functions.scss';

.main-container{
	margin-left: 300px;
	@include transition(margin-left 250ms ease);
}
.post-container{
	width: 100%;
	padding: 0 250px 0 0;
}
@media only screen and (max-width: 1100px){
	.main-container{
		margin-left: 250px;
	}
	.post-container{
		width: 100%;
		padding: 0 200px 0 0;
	}
}
@media only screen and (max-width: 830px){
	.main-container{
		margin-left: 0;
	}
}

@media only screen and (max-width: 540px){
	.post-container{
		padding: 0;
	}
	.news-feed-block{
		width: 100%!important;
	}
	.todo-block{
		//make this position absolute and display
		display: none;
	}
}

@media only screen and (max-width: 450px){
	.news-feed-block{
		padding: 0 10px;
	}
}

